.paprika {
  font-family: 'Paprika', cursive;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.bi{
  cursor: pointer;
}
.bg-navbar {
  background-color: rgba(0, 0, 0, 0.557);
  z-index: 99;
}
.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/banner.jpg') center center no-repeat;
  height: 700px;
  background-size: cover;
}
.banner-product {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/banner-product.jpg') center center no-repeat;
      background-size: cover;
  height: 450px;
}
.basket-title, .basket-title_bottom, .order {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/banner-product.jpg') center center no-repeat;
      background-size: cover;
}
.basket-title_bottom{
  height: 365px;
}
.title,
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
}
.products {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}
.basket-info{
  height: 45vh;
}

